$transBlack: #000000ef;
$red: #ff0000;
$offRed: #f00000;
$offYellow: #fbbe00;
$yellow: #ffff00;
$green: #009933;
$transGreen: #009933ef;
$darkGreen: #2f5500;
$gray: #4a4a4b;
$lightGray: #828282b3;
$transGray: #aaaaaacc;
$white: #ffffff;
