.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.3s forwards;
          animation: fade-in 0.3s forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.3s forwards;
          animation: fade-out 0.3s forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: sans-serif;
}

body.noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 26.1875) {
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (max-width: 49.9375em) {
  .hide-for-tablet {
    display: none;
  }
}

@media only screen and (min-width: 50em) {
  .hide-for-desktop {
    display: none;
  }
}

@media only screen and (max-width: 79.9375em) {
  .expand-for-tablet {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header.open .overlay {
  z-index: 1000000;
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header.open .header__menu {
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}

.header .overlay {
  position: absolute;
  top: 138px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: #aaaaaacc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aaaaaacc), to(transparent));
  background-image: linear-gradient(#aaaaaacc, transparent);
}

.header nav {
  background: #000000ef;
  padding: 5px 24px;
}

.header__logo {
  max-width: 90px;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__menu {
  background: #ffffff;
  width: 95%;
  padding: 1.625rem;
  position: absolute;
  left: 2.5%;
  top: 20%;
  border-radius: 4px;
  z-index: 1000001;
}

.header__menu a {
  display: block;
  color: #2f5500;
  font-weight: 600;
  padding: 0.625rem;
  text-align: center;
}

.header__links {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__links a {
  font-size: 1.4rem;
  font-family: "Luckiest Guy", cursive;
  color: #ffffff;
  padding: 0 5px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__links a:hover {
  color: #009933;
  background: #fbbe00;
  padding-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.header .btnLogin {
  font-size: 1.5rem;
  background: #ff0000;
  color: #ffffff;
  font-family: "Luckiest Guy", cursive;
  font-weight: 600;
  padding: 8px 16px 0;
  border-radius: 15%;
  border: solid 2px #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header .btnLogin:hover {
  color: #fbbe00;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel {
  position: relative;
  width: 100vw;
  max-width: 2000px;
  height: auto;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.carousel .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #2e2e2e;
  top: 0;
  left: 100%;
}

.carousel .carousel-item.active {
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.carousel .carousel-item > div img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .carousel {
    height: 270px;
  }
}

@media (max-width: 810px) {
  .carousel {
    height: 270px;
  }
}

@media (min-width: 1279px) {
  .carousel {
    height: 425px;
  }
}

@media (min-width: 1440px) {
  .carousel {
    height: 480px;
  }
}

@media (min-width: 1920px) {
  .carousel {
    height: 640px;
  }
}

.wrapper_mid .our_mission {
  width: 100%;
  background: #828282ef;
}

.wrapper_mid .our_mission .words_mid {
  max-width: 400px;
  text-align: center;
  padding: 15px 0;
}

.wrapper_mid .our_mission .words_mid img {
  max-width: 90%;
  border-radius: 5px;
}

.wrapper_mid .our_mission .words_mid p {
  color: #ffffff;
  padding: 0 25px;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
}

.wrapper_bot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #009933ef;
}

.wrapper_bot .wb_info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper_bot .wb_info i {
  color: #aaaaaacc;
}

.wrapper_bot .wb_info h1 {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  margin-bottom: 5px;
}

.wrapper_bot img {
  width: 100%;
  height: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #4a4a4b;
}

.footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.footer .social_icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbbe00;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 5px;
}

.footer .bottom_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.footer .bottom_info ul {
  margin: 0 60px;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  list-style: none;
}

.footer .bottom_info ul span {
  font-size: 1.5rem;
  font-family: "Luckiest Guy", serif;
  color: #fbbe00;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer .bottom_info ul a:first-of-type {
  padding-top: 25px;
}

.footer .bottom_info ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Luckiest Guy", serif;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
}

@media (max-width: 500px) {
  .footer .bottom_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  background: url("https://i.imgur.com/YiF0C8c.jpg");
}
/*# sourceMappingURL=styles.css.map */